<div class="header">
    <h1>Plotter</h1>
</div>
<div class="row" xLayout="row" fxFill="fill">
    <div class="side">
        <h2 class="side-title">Columns</h2>
        <div fxLayout="column" class="allColumns" fxFill="fill">
            <mat-list dndDropzone
                      dndEffectAllowed="move"
                      (dndDrop)="onDrop($event, columnsList, 'columnsList')"
                      class="dndList">

                <mat-list-item dndPlaceholderRef
                               class="dndPlaceholder">
                </mat-list-item>

                <mat-list-item *ngFor="let column of columnsList"
                               [dndDraggable]="column"
                               [dndType]="column.function"
                               [dndDisableIf]="(dimensions.length === 1 && column.function === 'dimension')"
                               dndEffectAllowed="move"
                               (dndMoved)="onDragged($event, column, columnsList)">
                    <h3 mat-line>{{column.name}}</h3>
                </mat-list-item>

            </mat-list>

        </div>

    </div>
    <div class="main">
        <div class="plotterColumnType" fxLayout="row" fxLayoutAlign="start center" >
            <label fxFlex="12">Dimensions</label>
            <div fxFlex="60" class="dropArea">
                <mat-list [dndDropzone]="['dimension']"
                          dndEffectAllowed="move"
                          (dndDrop)="onDrop($event, dimensions, 'dimension')"
                          class="dndList dndList-blocks">
                    <mat-list-item dndPlaceholderRef
                                   class="dndPlaceholder">
                    </mat-list-item>
                    <mat-list-item *ngFor="let dimension of dimensions"
                                   [dndDraggable]="dimension"
                                   [dndType]="dimension"
                                   dndEffectAllowed="move"
                                   (dndMoved)="onDragged($event, dimension, dimensions)">
                        <h1 mat-line>{{dimension.name}}</h1>
                    </mat-list-item>
                </mat-list>
            </div>
            <button fxFlex="10" class="clearBtn">Clear</button>
        </div>

        <div class="plotterColumnType" fxLayout="row" fxLayoutAlign="start center" >
            <label fxFlex="12" class="">Measures</label>
            <div fxFlex="60" class="dropArea">
                <mat-list [dndDropzone]="['measure']"
                          dndEffectAllowed="move"
                          (dndDrop)="onDrop($event, measures, 'measure')"
                          class="dndList dndList-blocks">

                    <mat-list-item dndPlaceholderRef
                                   class="dndPlaceholder">
                    </mat-list-item>

                    <mat-list-item *ngFor="let measure of measures"
                                   [dndDraggable]="measure"
                                   [dndType]="measure"
                                   dndEffectAllowed="move"
                                   (dndMoved)="onDragged($event, measure, measures)">
                        <h1 mat-line>{{measure.name}}</h1>
                    </mat-list-item>

                </mat-list>
            </div>
            <button fxFlex="10" class="clearBtn">Clear</button>
        </div>
    </div>
</div>
